@model IEnumerable<PedeRoca.Models.Entities.Contato>

@{
    ViewData["Title"] = "ADMMenssagens";
    Layout = "~/Views/Shared/_LayoutADM.cshtml";
}

<h1 class="titulo_ADMTable">ADMMenssagens</h1>

<div class="formatacaoTabelas">
    <table class="table" id="tabelaMensagens">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id_Contato)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    Opções
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id_Contato)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.ActionLink("Ler", "ADMDetails", new { id = item.Id_Contato }, new { @class = "link_DMInfoMensagens" }) |
                        @Html.ActionLink("Delete", "ADMDelete", new { id = item.Id_Contato }, new { @class = "link_DMOExcluir" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




