@model IEnumerable<PedeRoca.Models.Entities.Carrinho>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Carrinho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Carrinho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id_Carrinho }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id_Carrinho }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id_Carrinho })
            </td>
        </tr>
}
    </tbody>
</table>
