@model IEnumerable<PedeRoca.Models.Entities.Produto>

@{
    ViewData["Title"] = "ADMProduto";
    Layout = "~/Views/Shared/_LayoutADM.cshtml";
}


<h1 class="titulo_ADMTable">Consulta Produtos</h1>

<div class="formatacaoTabelas">


    <p class="btn_PedeRocaADM">
        <a asp-action="ADMCreate" class="link_PedeRocaADM">Novo Produto</a>
    </p>
    <table class="table" id="tableProdutos">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QtdEstoque)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecoUnitario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ativo)
                </th>
                <th>
                    Opções
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QtdEstoque)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecoUnitario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ativo)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "ADMEdit", new { id=item.Id_produtos }, new { @class = "link_DMEditar" })
                        @Html.ActionLink("Info", "ADMDetails", new { id=item.Id_produtos }, new { @class = "link_DMInfo" })
                        @Html.ActionLink("Excluir", "ADMDelete", new { id=item.Id_produtos }, new { @class = "link_DMOExcluir" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
