@model IEnumerable<PedeRoca.Models.Entities.Produto>

@{
    ViewData["Title"] = "Index";
}
<div class="formatacaoTabelas">
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id_produtos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QtdEstoque)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecoUnitario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ativo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id_produtos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QtdEstoque)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecoUnitario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ativo)
                    </td>
                    <td>
                        <i class="bi bi-pencil-square"> </i>@Html.ActionLink("Editar", "Edit", new { id=item.Id_produtos }) |
                        <i class="bi bi-card-checklist"> </i>@Html.ActionLink("Info", "Details", new { id=item.Id_produtos }) |
                        <i class="bi bi-folder-x"></i> @Html.ActionLink("Excluir", "Delete", new { id=item.Id_produtos })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

