@model IEnumerable<PedeRoca.Models.Entities.Produto>

@{
    ViewData["Title"] = "Index";
}

<!-----------Image - Desktop --------------->
<img src="~/imagens/banner/desktop2.svg" class="img-fluid desktopNavbar marginBanner" alt="...">
<!-----------Carrocel - Celular --------------->
<div id="carouselExampleAutoplaying" class="carousel slide mobileNavbar marginBannerM" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/imagens/banner/svg/carrocel1.svg" class="d-block w-100" alt="Pacote de assinatura">
        </div>
        <div class="carousel-item">

            <img src="~/imagens/banner/svg/Carrocel2.svg" class="d-block w-100" alt="Pacote de assinatura">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!------------Filtro de pesquisa--------->
<nav class="navbar navbar-expand-xxxl sticky-top filtroPesquisa d-flex justify-content-center align-content-center">
    <form class="d-flex TamanhoFormPesquisa">
        <input class="form-control flex-grow-1" type="text" placeholder="O que você procura? Busque por Produto/Categoria" aria-label="Search" id="filtroPesquisa">
        <button class="bgFiltro" type="submit">
            <i class="bi bi-search corPesquisa"></i>
        </button>
    </form>
</nav>

<section id="Cartoes" class="px-2 py-2 d-flex flex-wrap gap-3 justify-content-center align-content-center">
    @foreach (var item in Model)
    {
        <div class="geralCard cartaoProduto">
            <div class="posicaoPreco">
                <span id="precoProduto">@Html.DisplayFor(model => item.PrecoUnitario)</span>
            </div>
            <div class="posicaoFavorito">
                <button id="boxFavoritoF1" onclick="trocarIcone('F1')">
                    <i class="bi bi-heart tamanhoFavorito"
                       id="favoritoF1"></i>
                </button>
            </div>
            <div class="imagemVenda">
                <img class="card-img-top tamanhoImgVenda" src="~/imagens/produtos/@Html.DisplayFor(model => item.Imagem)" alt="@Html.DisplayFor(model => item.Nome)">
            </div>
            <hr>
            <div id="nomeProduto">
                <h5>
                    @Html.DisplayFor(model => item.Nome)
                </h5>
                <p>
                    @Html.DisplayFor(model => item.Descricao)<br>
                    <span class="EnfaseProdutoOculto">Categoria: @Html.DisplayFor(model => item.Tipo)</span> <br>
                </p>
            </div>
            <hr>
            <div class="qtdTotalCompraCarrinho">
                <div class="d-flex input-group grupoQtdTotal" role="group" aria-label="Basic example">
                    <input class="inputBorda quantidadeProduto" type="number" min="0" name="quantidadeProduto1" id="quantidadeProduto" placeholder="Qtd">
                    <span class="inputBorda valorTotalProduto" id="valorTotalProduto"></span>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
@*                     @Html.ActionLink("Carrinho", "addProduto", new { id = item.Id_produtos }, new { @class = "link_DMOExcluir" }) *@
                    <button type="button" class="btnComprar">Comprar</button>
                    <button type="button" class="btnCarrinho"><i class="bi bi-cart-plus tamanhoCarrinho"></i></button>
                </div>
            </div>
        </div>
    }
</section>


